.apresentacao{
    /* display: flex; */
    background-color: gold;
}

.foto img{
    border-radius: 100%;
}

.nome{
    width: 100%;
    text-align: center;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.campo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 300px;
    background-color: black;
    margin: 5px;
    cursor: pointer;
    color:white;
    font-size: 50px;
    transition: 0.1s all;   
    transition-delay: 0.1s;

}

/* .campo:hover{
    height: 200px;
    transition: 0.1s all;   
    transition-delay: 0.1s; 
} */

.campo:hover{
    position: fixed;
    height: 200px;
    background-color: white;
    transition: 0.1s all;   
    transition-delay: 0.1s; 
    z-index: 999;
    color: white;
}
.detalhe-campo:hover{
    height: 500px;
}


.campo a{
    color:white;
    font-size:30px;
}

.menu {
    display: flex;
    justify-content: center;
}

body{
    background-color: black;
}

footer{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    background-color: gold;
}

.pagtitle{
    width: 100%;
    text-align: center;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bio{

    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gold;
    font-size:30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.cabecalho{
    display: flex;
}


.teste{
    height: 2px;
    background-color: white;
}

.teste:hover{
    height: 200px;
}